<div class="container p-8">
    <tr> </tr>
    <h2>ADMINISTRACION DE USUARIOS</h2>
<table class="table" class="container p-8">
    <thead class="thead-dark">
        <tr>
            <th scope="col" id="pruebalog">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">email</th>
            <th scope="col">Nombre de Usuario</th>
            <th scope="col">Fecha de creacion</th>
            <th scope="col">Password</th>
            <th scope="col">Acciones</th>
        </tr>
     </thead>
     <tbody>
        {{#each users}}
        <tr>
            <td>number</td>
            <td>{{this.first_name}}</td>
            <td>{{this.last_name}}</td>
            <td>{{this.email}}</td>
            <td>{{this.username}}</td>
            <td>{{timeago create_time}}</td>
            <td>{{this.password}}</td>
            <td>
                <a href="/users/delete/{{id}}" class="btn btn-danger">Delete User.</a>
                <a href="/users/edit/{{id}}" class="btn btn-secondary">Edit User</a>
            </td>
        </tr>
        {{/each}}
     </tbody>
</table>
</div>
<script> 
    console.log(document.getElementById('pruebalog').innerHTML);
</script>
{{!-- Para UNIDADES DE SUPERFICIE
<div class="container p-8">
    <div class="row">
        {{#each buques}}
            <div class="col-md-6">
                <div class="card text-center">
                    <div class="card-body">
                        <a target="_blank">
                            <h3 class = "card-title text-uppercase" >
                                {{code_uuss}}
                            </h3>
                        </a>
                        <a target="_blank">
                            <h3 class = "card-title text-uppercase" >
                                {{name_uuss}}
                            </h3>
                        </a>
                        <p class = "m-2">{{description}}</p>
                        <a href="/buques/delete/{{id_uuss}}" class="btn btn-danger">Delete U.S.</a>
                        <a href="/buques/edit/{{id_uuss}}" class="btn btn-secondary">Edit U.S.</a>
                    </div>
                </div>
            </div>
        {{else}}
            <div class="vol-md-4 mx-auto">
                <div class="card card-body text-center">
                    <p>NO TENEMOS UNIDAD DE SUPERFICE ALMACENADA </p>
                    <a href="/UUSS/add">Ingres Unidad de Superficie</a>
                </div>
            </div>
        {{/each}}
    </div>
</div>
 --}}